body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: lightgray;
}

.tbl{
    width: 90%;
    margin: 50px auto;
    border-collapse: collapse;
}

.tbl th{
    padding: 20px;
    text-align: center;
}

.tbl th a{
    text-decoration: none;
    color: #000;
    transition: background-color 0.3s ease;
    display: inline-block;
    margin-bottom: 25px;
}

.tbl th a:hover{
    background-color: #666;
}


h2{
    font-size: 3.5rem;
    font-family: fantasy;
    letter-spacing: 10px;
    background: linear-gradient(rgb(95, 4, 4), rgb(255, 119, 8));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 5px;
}

h2 span {
    background: none;          
    -webkit-background-clip: initial; 
    background-clip: initial;
    color: white;               
    -webkit-text-fill-color: rgb(10, 35, 56);
}

p{
    font-size: 1.1rem;
    color: #666;
    margin-top: 0;
    margin-bottom: 30px;

}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.prod{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    width: calc(33.33% - 20px);
    min-width: 250px;
    overflow: hidden;
    max-width: 350px;
    transition: transform 0.3s ease;
    margin: 0;
}

.prod:hover{
    transform: translateY(-5px);
}

.prod img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    background-size: 60%;
}

.des{
    padding: 20px;
    text-align: left;
}

.des span{
    font-size: 0.9rem;
    color: #999;
    font-weight: 500;
}

.des h5{
    font-size: 1.3rem;
    color: #333;
    margin: 8px 0;
}

.star i{
    color: gold;
    font-size: 1.1rem;
    margin-right: 2px;
}

h4{
    font-size: 1.5rem;
    color: #333;
    margin: 15px 0 20px 0;
}

.nav-icons{
    color:black;
    font-size: 25px;
    transition: 0.3 ease-out;
    position: absolute;
    left: 20px;
    top: 20px;
}
.nav-icons :hover{
    transform: scale(1.1);
    cursor: pointer;

}
.nav-icons a{
    color: #fff;
    text-decoration: none;
}